main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0rem;
  display: flex;
}

.product-title {
  height: 1.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
  /* flex-direction: column; */
  justify-content: space-evenly;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.sp-even{
  justify-content: space-evenly;
  
}

@media (min-width: 375px) and (max-width: 800px) {
  .sp-even > * {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }
  .small-container{
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media  (min-width: 350px) and (max-width: 400px) {
 .nav > *{
  font-size: 11px;
 }
}

@media (max-width: 768px){
.wide-50{
  width: 50% !important;
  max-width: 100% !important;
}
}

@media (max-width: 992px) {
 .review{
  flex-direction: column;
 }

 .review > * {
  width: 100%;
  max-width: 100%;
 }

 .add-pad{
  padding-top: 3rem;
 }
}

@media (min-width: 992px) and (max-width : 1200px)
{
  .review{
    flex-direction: column;
    align-items: center;
  }
  .review > * {
    width: 100%;
    max-width: 80%;
   }

   .add-pad{
    padding-top: 3rem;
   }
}

@media (min-width: 1200px) {
  .review{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6rem;
  }
  .review > * {
    width: 80%;
    max-width: 60%;
   }
  .add-pad{
  padding-top: 3rem;
  }
}

/* styling for category section */

.card2-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  max-width: 100%;
}

.card2 {
  width: 20vw;
  padding: 0.5rem;
  /* background-color: #fff; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  text-align: center;
  /* border-radius: 100%; */
  transition: transform 0.3s; 
}

@media (min-width: 1200px) and (max-width:2000px){
  .card2 {
    width: 20vw !important;
  }
  .card2-image {
    height: 20vw !important; 
  }
}

@media (max-width: 1200px){
  .card2 {
    width: 34vw;
  }
  .card2-image {
    height: 25vh !important; 
  }
}

@media (max-width: 850px){
  .card2 {
    width: 28vw;
  }
  .card2-image {
    height: 20vh !important; 
  }
}


@media (min-width: 375px) and (max-width:520px){
  .card2 {
    width: 35vw;
  }
  .card2-image {
    width: 20vw;
    height: 22vh !important; 
  }
  .card2-heading{
    font-size: 13px !important;
  }
}

.card2:hover {
  transform: scale(1.05);
}

.card2-image {
  width: 100%;
  height: 50vh;
  margin-bottom: 10px;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.card2-heading {
  font-size: 18px;
  color: #333;
}

.centered{
  display: flex !important;
  justify-content: center !important;
}

.zoom{
  transition: transform 0.3s; 
}

.zoom:hover{
  transform: scale(1.05); 
}

/* product cards */


.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px #e1999f;
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

  
.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 87%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

/* adjusting height of product on product screen */

@media (min-width:1200px) and (max-width: 2000px) {
  .height-adjust{
    height: 40vw;
  }
  .width-adjust{
    width: 40%;
  }
}

@media (min-width:300px) and (max-width:499px){
  .carousel-video{
    height: 50vh !important
  }
  
  .carousel-image{
    height: 50vh !important;
  }
}

@media (min-width:500px) and (max-width:768px){
  .carousel-video{
    height: 70vh !important
  }
  
  .carousel-image{
    height: 70vh !important;
  }
}

@media (min-width:769px) and (max-width:1000px){
  .carousel-video{
    height: 50vh !important
  } 
  .carousel-image{
    height: 50vh !important;
  }
}

/* divider adjustment */
.svg-adjust{
  position: relative;
  z-index: -1;
  margin-bottom: -43%;
  /* top: -15%; */
}

@media (max-width:768px) {
  .svg-adjust{
    display: none;
  }
}

/* styling for footer */

.footer {
  background-color: #663635;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (min-width: 450px) {
  .help {
    display: flex;
    align-items: center !important;
    flex-direction: column;
    color: white;
    margin-bottom: 2rem !important;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
}

.help{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  margin-bottom: 1.2rem;
}

.help > *{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.help > h5{
  margin-bottom: 0.5rem !important;
  font-weight: 700;
}

.social-media {
  margin-bottom: 10px;
}

.icon {
  font-size: 20px;
  color: #f9f1f0;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #f1bdc1;
}

.footer-text {
  color: #f9f1f0;
  font-size: 14px;
  text-align: center;
}

/* bestseller */
.bestseller-border{
  margin-bottom:1.2rem;
  background-color:#663635;
  padding:0rem 0.5rem;
  border-radius:10px;
}

@media (max-width:500px){
  .bestseller-border{
    padding:0rem 0rem;
  }
}

/* returns component */
.returns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* wholesale component */
.wholesale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.wholesale-inner-container{
  width: 80%;
}

@media (min-width:375px) and (max-width:800px) {
  .wholesale-products {
    width: 50%;
  }
  .wholesale-inner-container{
    width: 100%;
  }
}

@media (min-width:375px) {
  .inner-container {
    width: 100%;
  }
}

@media (min-width:800px) {
  .inner-container {
    width: 55%;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

ul {
  text-align: left;
  margin-left: 30px;
}

/* buttons adjust */
.buttons{
  display: flex;
  justify-content: space-between;
}

/* checkout-icons styling */

.icon-flex {
  display: flex;
  flex-direction: column;
}

/* sale price strike through */
.strike-it{
  text-decoration: line-through !important;
}

.product-price{
  display: flex;
  flex-direction: row;
}

.text-green{
  color: #4caf50 !important;
}

.text-red{
  color: red !important;
}

.text-yellow{
  color: #fce205;
}

.btn-flex{
  display: flex;
  flex-direction: row;
}

.btn-flex-col{
  display: flex;
  flex-direction: column;
}

.marRt{
  margin-right: 1rem !important;
}
/* table font size */
@media (max-width:715px){
.font-small{
font-size: 9px !important;
}
}

.font-bold{
  font-weight: 700;
}

/* product card css */
/* Add this CSS to your stylesheet or component */
.card .cards__item__info {
  position: relative;
  transition: transform 0.3s ease;
}

.wishlist-button {
  position: absolute;
  bottom: -10px; 
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 350px){
  .wishlist-button{
    justify-content: flex-start !important;
    bottom: -2px !important;
  }
  .cards__item__link.hovered .cards__item__img {
    height: 100%; 
  }
  
  .card.hovered .cards__item__info{
    transform: translateY(-0.2rem);
  }
  
  .wishlist-button button{
    padding-bottom: 4px !important;
    font-size: 0.6rem !important;
  }
}

@media (min-width:351px) and (max-width:1023px){
  .wishlist-button{
    justify-content: flex-start !important;
    bottom: -2px !important;
  }

  .wishlist-button button {
    padding: 8px 13px !important;
    font-size: 0.8rem;
  }
  .cards__item__link.hovered .cards__item__img {
    height: 100%; 
  }
  
  .card.hovered .cards__item__info{
    transform: translateY(-0.2rem);
  }
}

/* .wishlist-button-smallScreen{
  position: absolute;
  top: 0rem;
  font-size: 1.5rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.wishlist-button-smallScreen button {
  padding: 8px 16px;
  background-color: #007bff00;
  color: #7a8a8b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* Optional styling for the "Add to Wishlist" button */
.wishlist-button button {
  padding: 8px 16px;
  background-color: #007bff00;
  color: #7a8a8b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.wishlist-button button:hover {
  text-decoration: underline;
}

@media  (min-width:1024px) {
  .cards__item__link.hovered .cards__item__img {
    height: 90%; 
  }
  
  .card.hovered .cards__item__info{
    transform: translateY(-1.2rem);
  }
}

/* orderscreen header edits */
.font-adjust{
  font-size: calc(1rem + 0.1vw);
}
.marBot-rm{
  margin-bottom: 0.5rem;
}
.icon-edit{
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.bg-green{
  background: #18bc9b1d;
  color: #18bc9c;
  font-weight: 500;
}

/* buttons ordercreen */
.btns-orderscreen{
  display: flex;
  justify-content: space-between;
}
